body{
    display: grid;
    justify-content: center;
}
h1{
    text-align: center;
}

section{
    width: 960px;
    display: flex;
    justify-content: center;
}

.datos{
    flex: 260px;
}

article{
    flex: 700px;
}

div ul{
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

div ul li{
    margin-right: 20px;
}

